@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-size: 12px;
  background: var(--background);
  color: var(--foreground);
  font-family: InterVariable, system-ui, sans-serif;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

h3 {
  @apply text-lg font-bold;
}

h4 {
  @apply text-base font-bold;
}

h5 {
  @apply text-sm font-bold;
}

h6 {
  @apply text-xs font-bold;
}

button {
  @apply rounded-lg p-2 bg-blue-500 text-white text-nowrap outline-none border-none;
}

input,
select {
  @apply border-2 border-gray-300 rounded-xl p-2 w-full;
}
